<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Sentiment Analyzer</title>
    <!-- Load Favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="favicon/site.webmanifest" />
  </head>

  <body>
    <header>
      <h1 id="title">Sentiment Analyzer</h1>
    </header>
    <main>
      <section id="form">
        <form onsubmit="return app.handleSubmit(event)">
          <textarea
            id="article-input"
            rows="15"
            placeholder="Enter the text to analyze..."
            required
          ></textarea>
          <button
            type="submit"
            class="primary-btn"
            onsubmit="return app.handleSubmit(event)"
          >
            Analyze
          </button>
        </form>
      </section>

      <section id="sentiments">
        <div class="circle" id="polarity-circle">Polarity</div>
        <div class="circle" id="agreement-circle">Agreement</div>
        <div class="circle" id="subjectivity-circle">Subjectivity</div>
        <div class="circle" id="confidence-circle">Confidence</div>
        <div class="circle" id="irony-circle">Irony</div>
      </section>

      <section id="error-area">
        <p id="error-msg"></p>
      </section>
    </main>

    <footer>&copy Ghada, Udacity FEND Program</footer>
    <script>
      // Check that service workers are supported
      if ("serviceWorker" in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("/service-worker.js");
        });
      }
    </script>
  </body>
</html>
