<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Naming your feelings</title>
    <!-- Load Favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="favicon/site.webmanifest" />
  </head>

  <body>
    <header>
      <h1 id="title">How Do You Feel Today?</h1>
    </header>
    <main>
      <section id="form">
        <form onsubmit="return app.handleSubmit(event)">
          <input
            id="feelings-input"
            class="text-input"
            type="text"
            name="input"
            value=""
            placeholder="Tell me, how do you feel today..."
            required
            maxlength="100"
            pattern="([A-Za-z]+\s*)+"
            title="Use words only without numbers or any special character."
          />
          <button
            type="submit"
            class="primary-btn"
            onsubmit="return app.handleSubmit(event)"
          >
            Name it
          </button>
        </form>
      </section>

      <section id="feelings">
        <div class="circle" id="happiness-circle">Happiness</div>
        <div class="circle" id="sadness-circle">Sadness</div>
        <div class="circle" id="anger-circle">Anger</div>
        <div class="circle" id="fear-circle">Fear</div>
        <div class="circle" id="disgust-circle">Disgust</div>
      </section>

      <section id="results">
        <h2 id="results-title">Your feelings is</h2>
        <h4 id="feelings-title"></h4>
        <q id="feelings-quote"></q>
        <p id="error-msg"></p>
      </section>
    </main>

    <footer>&copy Ghada, Udacity FEND Program</footer>
  </body>
</html>
