// Global font
@import url("https://fonts.googleapis.com/css2?family=Cantarell&display=swap");
$font-name: "Cantarell", sans-serif;

// Color palette
$background-color: #dd674e;
$card-color: #fde5d1;
$primary-font-color: #dd674e;
$secondary-font-color: #fde5d1;
$primary-elem-color: #dd674e;
$secondary-elem-color: #fdfdfb;
$secondary-elem-color-opacity: #fdfdfb7d;
// Sentiments colors
$polarity: #fed258;
$agreement: #58d7fe;
$subjectivity: #fe5858;
$confidence: #58fea3;
$irony: #8958fe;

// Global variables
$border-radius: 1em;

// Page structure
body {
  display: grid;
  grid-template-columns: 30em 1fr 30em;
  grid-template-rows: 15vh 70vh 15vh;
  grid-template-areas:
    ". header ."
    ". main ."
    "footer footer footer";
  background-color: $background-color;
  font-family: $font-name;
  min-height: 100vh;
  margin: 0;
}

header {
  grid-area: header;
  color: $secondary-font-color;
  display: flex;
  align-items: flex-end;
}

h1 {
  margin: 0;
}

main {
  grid-area: main;
  background-color: $card-color;
  border-radius: $border-radius;
  display: grid;
  grid-template-rows: 60% 25% 15%;
  grid-template-areas:
    "form"
    "sentiments"
    "error";
}

#form {
  grid-area: form;
}

#sentiments {
  grid-area: sentiments;
  display: flex;
  justify-content: space-evenly;
}

#error-area {
  grid-area: error;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $secondary-font-color;
}

/* For mobile and tablet */
@media (max-width: 450px), (max-width: 890px) and (min-width: 700px) {
  body {
    grid-template-columns: 1em 1fr 1em;
    grid-template-rows: 6em 1fr 2em;
  }
  main {
    grid-template-rows: 7.5em 25em 15em;
  }
  #sentiments {
    align-items: center;
    flex-wrap: wrap;
    padding: 0.5em;
  }
  footer {
    font-size: 0.8em;
  }
}
