@import "base.scss";

form {
  margin: 1em 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

input,
button {
  border-radius: $border-radius;
  border-style: none;
  padding: 0.5em 1em;
}

button:focus {
  background-color: $secondary-elem-color-opacity;
  color: $primary-font-color;
  outline: none;
}
input:focus {
  outline: $primary-elem-color solid 0.2em;
}

.text-input {
  width: 65%;
  margin: 2em 0;
  background-color: $secondary-elem-color;
}

.primary-btn {
  width: 30%;
  background-color: $primary-elem-color;
  color: $secondary-elem-color;
}
